body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 90%;
  max-width: 400px;
  background-color: var(--c3);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.form-container:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.form-container h1 {
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container input {
  padding: 10px;
  border: 1px solid var(--accent);
  border-radius: 8px;
  font-size: 16px;
}

.form-container button {
  padding: 10px;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
  letter-spacing: 2px;
}

.form-container button:hover {
  background-color: var(--celeste);
  color: var(--c4);
}
